.TextTitulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-Size: 2.7rem;
    color: #000;
    
    
  }
  

  .TextDescripcion {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-Size: 1.1rem;
    color:#000
  }
  
 